.penme-name{
    font-family: "Orbitron";
    font-size: 25px;
    color: #d9534f;
}

.pre-editor{
margin-top : 20px !important;
margin-left : 15px !important;
margin-right : 15px !important;
}

footer p{
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
    font-size: 12px;
}

.about-box{
    border: 2px solid white;
    padding-left: 12px;
    padding-right: 12px;
}

.about-box h2{
    font-size: 30px !important;
    text-align: center;
}

.modal{
    padding-left : 5px !important;
    padding-right : 5px !important;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    /* margin:-2px; */
    /* padding: 4px 12px; */
    /* background-color: #e7e7e7; */
    /* border-color: #ddd; */
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   /* background-image: none; */
    /* background-color:#d0d0d0; */
}


/* .ql-container.ql-snow{
    border: 3px solid #d9534f;
}
.ql-toolbar.ql-snow{
    border: 3px solid #d9534f;
    /* color: white; */
/* } */
/* .ql-toolbar.ql-snow.ql-formats{
    color: white;
} */
/* .ql-toolbar button.octicon, .ql-toolbar button.fa {
    border: none;
    background: none;
    width: 1.5em;
    color: rgb(206, 33, 33);
  } */